*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quadrado
{
    width: 15vw;
    height: 15vh;
    border: solid black 1px;
    background-color: aqua;
   margin-right: 30vw;
   margin-top: 30vh;
}